body{
  background-color: #ecf0f1 !important;
}

.navbar {
  height: 45px !important;
}

.navbar-header {
  width: 45% !important;
}

.navbar-default {
  background-color: #34495e !important;
}

.navbar-default a {
  color: white !important;
}

.navbar-default a:hover {
  background-color: #ecf0f1 !important;
  color: #34495e !important;
}

.jumbotron {
  background-color: white !important;
}

body, html {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow: auto;
  padding-bottom: 70px;
}

.navbar {
  border-color: #ecf0f1;
}

.navbar-right li:hover {
  background-color: #ecf0f1;
}

.jumbotron {
  margin-top: 60px;
}

.top-spacer {
  margin-top: 45px;
}

article {
  border-bottom: 1px solid #c6d2df;
}

.topic-link a {
  color: #2980b9;
}

.topic-link a:hover {
  text-decoration: none;
  color: #9b59b6;
}

.name-link a {
  color: #95a5a6;
  font-size: .6em;
  font-weight: 300;
}

.name-link a:hover {
  text-decoration: none;
  color: #777;
}

.suggestion-name-link a {
  color: #999;
  font-size: 1.0em;
  font-weight: 300;
}

.suggestion-name-link a:hover {
  text-decoration: none;
  color: #777;
}

#suggestion-content {
  max-width: 80%;
  float: left;
}

#upvote-button {
  max-width: 20%;
  float: right;
}

.modal-content {
  position: fixed;
  width: 400px;
  height: 400px;
  top: 25%;
  left: 50%;
  margin-top: -25px;
  margin-left: -200px;
  padding: 20px;
}

.navbar-form {
  width: 400px;
}

#home-page-logo {
  text-align: center;
  margin-bottom: 35px;
}

#home-search-form {
  margin: 0 auto;
  width: 700px;
  height: 30px;
}

#home-search-form input {
  background-color: #ecf0f1;
}

#home-page-input-group {
  margin: 0 auto;
  width: 650px;
  height: 20px;
}

.form-style {
  display: block;
  width: 30%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: white;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; 
}

.form-style-login {
  display: block;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: white;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; 
}

.footer {
  position: relative;
  margin-top: -60px;
  height: 60px;
  clear: both;
  padding-top: 20px;
}

.footer-links {
  position: relative;
  top: -15px;
}

a:hover {
  text-decoration: none;
  color: #4b6496;
}

.twitter-links {
  font-weight: 300;
}